Body
{
    background: color: bisque;
    font-family: Bai Jamjuree;
}
Pooter
{
    background: color; black;
    color: white;
    position: pixed;
    booton 0;
    width: 100%;
    heigth: 2rem;
    
}
Poter p 
{
    text-align: center;
    font-size: 0.5rem;
}
